*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*HEADER STYLES START*/

header{
    display: flex;
    flex-wrap: wrap;
    position: fixed;   
    justify-content: space-between;
    width: 100%;
}
header a:hover{
    color:  darkblue;
   -webkit-transform: scale3d(2);

}
header h1 {
    font-weight: bold;
    font-size: 40px;
    color: rgb(168, 55, 55);
    margin: 0;
        
}

header a {
    text-decoration: solid;
    color: rgb(168, 55, 55);
    left: 200px;
}


header nav {
    margin: 10px 0;
    
}

header nav ul li{
    display: inline-block;

}

header nav li a {
    margin: 0 20px;
    font-weight: lighter;
    font-size: 25px;
}

/*Header Styles END*/




/*FOOTER STYLES START*/

footer {
    /*background-image: url(./bunnies.jpg);*/
    background: blue;
    width: auto;
    padding: 25px 25px;
    ;

}
footer h2 {
    display: inline;
    color: rgb(168, 55, 55);
    font-size: 28px;
    margin: 0;
}

/*footer div {


}*/

/*Footer styles END*/

.hero{
    background-image: url(./coast.jpg);
    height: 500px;
    background-size:cover;
    background-position: center;
}
#visual{
   text-align: center;
   margin: 0 auto 25px auto;
   font-family: monospace;
   font-size: 50px;
   color: rgb(168, 55, 55);
}
section{
    padding: 60px;
    
}

.information{
    text-align: center;
    margin: 0 auto 25px auto;
    background: blue;
    padding: 25px 25px;


}
.information img{
    width: 400px;
    height: 400px;
    float: center;
    padding: 25px 25px;

}
.information-about-me {
    padding: 25px;
    float: right;
    width: 70%
}

#about-me, #work, #contact, #resume{
    color: floralwhite;
    font-size: 32px;
    padding: 10px 10px;
}
#about-me p, #work p, #contact p, #resume p{
    font-size: 24px;
}
.projects{
    display: inline-table;
}
.projects img{
    width: 300px;
    cursor: pointer;
    padding: 10px;
}
img:hover{
    border-color: orange;
    outline: 0;
    padding: 20px 20 px;
    box-shadow: inset 40px 50px 40px 50px white;
    -webkit-transform:scale(1.2);
  
}