* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: scroll;
    background-color: rgb(204, 204, 250);
    margin: 15px;
    float: inline-start;
    flex-wrap: wrap;
}

body {
    padding: 15px;
}

header {
    display: inline;
    background-color: darksalmon;


}
.h1 {
    color: brown;
    
}

.nav {
    text-align: right;

}
.container {
    position: relative;
    height: 400px;
    display: flex;

}
