* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: scroll;
    background-color: rgb(204, 204, 250);
    margin: 15px;
    float: inline-start;
    
}

body {
    padding: 15px;
}

header {
    display: inline;
    background-color: darksalmon;


}
.h1 {
    color: brown;
    
}

.nav {
    text-align: right;

}
.container {
    width: 900px;
    margin: 0 auto 30px auto;
    overflow: auto;

    
}
#about-me #work #resume #contact h2 {
    font-size: 34px;
    float: left;
    position: absolute;

}
#about-me #work #contact #resume img {
    width: 40%;
    float:left;
    position: inherit;
    margin-top: 150px;
}

#about-me #work #contact #resume  p {
    font-size: 24px;
    float: right;
    width: 50%;
    flex-wrap: wrap;
    
}





